<div class="container">
  <div class="row">
    <h1>Morgan Riffer</h1>
      <h2>Portfolio</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Websites I created</h3>
      <small>Coming soon... e-commerce site for local craftsperson <br />
      Coming soon ... (capstone project)</small>
        <h4>Applications developed through exercises</h4>
        <small><a href="https://riff-bloccit.heroku.com">A tool for sharing information based on Reddit</a><br />
        <a href="https://riff-to-do.heroku.com">A To Do list that deletes tasks after 7 days.</a><br />
        <a href="https://riff-blocipedia.heroku.com">Wiki Application</a>
    </div>
    <div class="col-md-4">
      <h3>Other information</h3>
        <small><a href="https://www.linkedin.com/in/morganriffer">LinkedIn Profile</a><br />
        <a href="https://github.com/TechnologyRiff">GitHub</a><br />
        </small>
        
    </div>

    <div class="col-md-4">
    <h3>Websites I maintain</h3>
      <small>
        <a href="http://westphillytools.org">West Philadelphia Tool Library</a>
        <p>In addition to being a founding Board Member, I maintain the Tool Library's website.</p>
      </small>
    </div>
  </div>
</div>