<div class="container">
  <div class="row">
    <h1>Morgan Riffer: Portfolio</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Websites I created</h2>
      <p>Coming soon... e-commerce site for local craftsperson <br />
      Coming soon ... (capstone project)</p>
        <h3>Applications developed through exercises</h4>
        <p><a href="https://riff-bloccit.heroku.com" target="_blank">A tool for sharing information based on Reddit</a><br />
        <a href="https://riff-to-do.heroku.com" target="_blank">A To Do list that deletes tasks after 7 days.</a><br />
        <a href="https://riff-blocipedia.heroku.com" target="_blank">Wiki Application</a></p>
    </div>
    <div class="col-md-4">
      <h2>Other information</h2>
        <p><a href="https://www.linkedin.com/in/morganriffer" target="_blank">LinkedIn Profile</a><br />
        <a href="https://github.com/TechnologyRiff" target="_blank">GitHub</a><br />
        </p>
        
    </div>

    <div class="col-md-4">
    <h2>Websites I maintain</h2>
        <p><a href="http://westphillytools.org" target="_blank">West Philadelphia Tool Library</a><br \>
        In addition to being a founding Board Member, I maintain the Tool Library's website.</p>
    </div>
  </div>
</div>